*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Noto", sans-serif;
}

:root {
  --navbar-clr: #0f0f0f;
  --sidebar-clr: #202020;
  --sidebar-clr-hover: #535050;

  --scrollbar-clr: #b1a6a6;
  --scrollbar-clr-hover: #807979;

  --body-clr: #0f0f0f;

  --input-clr: #121212;
  --btn-clr: #ffffff14;

  --border-clr: #303030;
}

body {
  background-color: var(--body-clr);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-clr);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-clr-hover);
  border-radius: 6px;
}

.main-menu-open::-webkit-scrollbar {
  width: 10px;
}

.main-menu-open::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-clr);
  border-radius: 6px;
}

.main-menu-open::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-clr-hover);
  border-radius: 6px;
}

img {
  user-select: none;
}

/* end of presets */

/* start of main menu closed */
.main-menu-closed {
  background-color: var(--navbar-clr);
  width: 72px;
  height: 100%;
  top: 55px;
  position: fixed;
  display: inline-block;
  display: none;
}

.menu-home {
  width: 72px;
  padding: 16px 0 14px;
  outline: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home {
  max-width: 100%;
  display: block;
  margin-top: 6px;
  font-size: 0.6rem;
  color: white;
}

.menu-home:hover {
  background-color: var(--sidebar-clr-hover);
  background-image: url(/icons/nav-icons-left-closed/home2.png);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.shorts {
  width: 72px;
  padding: 16px 0 14px;
  outline: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shorts:hover {
  background-color: var(--sidebar-clr-hover);
  border-radius: 10px;
  cursor: pointer;
}

.subscriptions {
  width: 72px;
  padding: 16px 0 14px;
  outline: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscriptions:hover {
  background-color: var(--sidebar-clr-hover);
  border-radius: 10px;
  cursor: pointer;
}

.library {
  width: 72px;
  padding: 16px 0 14px;
  outline: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.library:hover {
  background-color: var(--sidebar-clr-hover);
  border-radius: 10px;
  cursor: pointer;
}

/* end of main menu closed */


/* start of open  menu  */

.main-menu-open {
  background-color: var(--body-clr);
  display: block;
  position: fixed;
  top: 55px;
  width: 240px;
  max-height: calc(100% - 56px);
  user-select: none;
  overflow-y: scroll;
}


.column {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 17px;
  font-size: 0.9rem;
  list-style: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.column::after {
  content: '';
  padding: 5px;
  border-bottom: 1px solid var(--border-clr);
}

.menu-open-home {
  padding: 5px;
}

.menu-open-image {
  margin: 5px 24px 5px 7px;
  vertical-align: middle;
}

.menu-open-home:hover {
  background-color: var(--sidebar-clr-hover);
  border-radius: 10px;
}

.subscribed-channels-title {
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 0px 5px 12px;
}

.explore-channels-title {
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 0px 5px 12px;
}

.more-from-youtube-title {
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 0px 5px 12px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.about {
  padding: 16px 24px 0;
}

.about a {
  margin-right: 8px;
  font-size: 0.8rem;
  color: var(--scrollbar-clr);
  text-decoration: none;
}

.terms {
  padding: 16px 24px 0;
}

.terms a {
  margin-right: 4px;
  font-size: 0.8rem;
  color: var(--scrollbar-clr);
  text-decoration: none;
}

.copyright {
  font-size: 0.9rem;
  padding: 16px 24px 0;
  margin-bottom: 12px;
  color: var(--sidebar-clr-hover);
}

/* end of open menu  */


/* frequent content that is watched */
.keyword-container {
  background-color: var(--body-clr);
  position: fixed;
  display: flex;
  width: 100%;
  gap: 0.8rem;
  padding: 10px;
  top: 56px;
  left: 250px;
  user-select: none;
  z-index: -1;
}

.browse-content {
  background-color: var(--border-clr);
  max-width: 30rem;
  padding: 10px;
  height: 34px;
  line-height: 14px;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 10px;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  z-index: -1;
}

.browse-content:hover {
  background-color: var(--sidebar-clr-hover);
}


/* recommended videos start */

.videos-wrapper {
  position: absolute;
  margin-top: 130px;
  left: 330px;
  z-index: -2;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommended-video {
  height: 300px;
  width: 342px;
  margin-right: 15px;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
}

.recommended-video>img {
  border-radius: 12px;
}

.recommended-video>h2 {
  padding-top: 5px;
}

.recommended-video>p {
  padding-top: 5px;
  color: var(--scrollbar-clr);
}

/*  recommended videos end */

@media (max-width: 45em) {
  .main-menu-closed {
    display: none !important;
  }

  .main-menu-open {
    display: none;
  }

  .keyword-container {
    position: fixed;
    left: 0;
    overflow: hidden;
  }

  .videos-wrapper {
    left: 20px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recommended-video {
    margin-right: 0px;
  }
}