*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Noto", sans-serif;
}

/* start of presets */

:root {
  --sidebar-clr: #202020;
  --sidebar-clr-hover: #535050;

  --scrollbar-clr: #b1a6a6;
  --scrollbar-clr-hover: #807979;

  --body-clr: #0f0f0f;

  --input-clr: #121212;
  --btn-clr: #ffffff14;

  --border-clr: #444343;
}

body {
  background-color: var(--body-clr);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-clr);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-clr-hover);
  border-radius: 6px;
}

.open-sidebar::-webkit-scrollbar {
  width: 10px;
}

.open-sidebar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-clr);
  border-radius: 6px;
}

.open-sidebar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-clr-hover);
  border-radius: 6px;
}

/* end of presets */

/*  start of navbar */
.navbar {
  height: 56px;
  width: 100%;
  background-color: var(--body-clr);
  opacity: 0.8;
  display: flex;
  position: fixed;
  padding-right: 16px;
  justify-content: space-between;
}

.left-side {
  display: flex;
}

.btn-toggle-nav {
  width: 72px;
  height: 40px;
  justify-content: center;
  display: flex;
  user-select: none;
}

.button {
  margin-top: 15px;
  align-items: center;
  cursor: pointer;
}

.nav-youtube-homepage {
  width: 120px;
  display: flex;
  margin-left: 0px;
  margin-top: 16px;
  user-select: none;
}

.search-bar {
  display: flex;
  flex: 0 1 728px;
  min-width: 0;
}

input[type="text"] {
  margin-top: 8px;
  padding-left: 15px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: var(--input-clr);
  border: 1px solid var(--border-clr);
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 40px;
  width: 100%;
  max-width: 100%;
  align-items: center;
  outline: none;
}

input[type="text"]:focus {
  border: 1px solid #008cff;
}

.btn-search {
  background-image: url(/icons/search/searchbar.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--btn-clr);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 8px;
  width: 85px;
  max-width: 100%;
  height: 40px;
  border: 1px solid var(--border-clr);
  cursor: pointer;
  user-select: none;
}

.search {
  top: 70px;
  margin-left: 5px;
  padding: 5px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  background-color: var(--scrollbar-clr-hover);
  opacity: 0.9;
  user-select: none;
  position: absolute;
  color: white;
  visibility: hidden;
}

.voice-menu {
  position: absolute;
  margin: 8px 0 0 5px;
  padding-left: 30px;
  background-color: var(--border-clr);
  border-radius: 10px;
  height: 416px;
  width: 592px;
  z-index: 1002;
  color: white;
  visibility: hidden;
}

.voice-menu-main {
  display: flex;
  justify-content: space-between;
}

.voice-menu-main>h1 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: 30px;
  height: 30px;
}

.close-icon:hover {
  background-color: var(--sidebar-clr-hover);
  border-radius: 50%;
  cursor: pointer;
}

.voice-menu>p {
  font-size: 0.9rem;
}

.voice-search {
  display: flex;
  position: relative;
  margin-top: 8px;
  width: 25%;
}

.voice-menu-icon {
  position: absolute;
  bottom: 70px;
  left: 261px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: var(--sidebar-clr);
  border-radius: 50%;
}

.microphone {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sidebar-clr);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.microphone:hover {
  background-color: var(--sidebar-clr-hover);
}

.search-with-voice {
  top: 60px;
  left: -30px;
  position: absolute;
  color: white;
  padding: 5px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  background-color: var(--scrollbar-clr-hover);
  opacity: 0.9;
  user-select: none;
  visibility: hidden;
}

.right-side {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  user-select: none;
  max-width: 100%;
}

.create {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-top: 5px;
  cursor: pointer;
}

.create>img {
  height: 24px;
  width: 24px;
}

.create:hover {
  background-color: var(--sidebar-clr-hover);
  border-radius: 50%;
}

.create-text {
  top: 55px;
  height: 40px;
  padding: 8px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  background-color: var(--scrollbar-clr-hover);
  opacity: 0.9;
  user-select: none;
  position: absolute;
  color: white;
  visibility: hidden;
}

.create-menu {
  position: fixed;
  flex-direction: column;
  top: 55px;
  right: 18px;
  width: 170px;
  padding: 5px;
  background-color: var(--border-clr);
  border-radius: 10px;
  color: white;
  visibility: hidden;
}

.upload-video {
  display: flex;
  padding: 10px;
}

.upload-video>span {
  margin-left: 15px;
  line-height: 25px;
}

.upload-video:hover {
  background-color: var(--sidebar-clr-hover);
  border-radius: 10px;
}

.go-live {
  display: flex;
  padding: 10px;
}

.go-live>span {
  margin-left: 15px;
  line-height: 25px;
}

.go-live:hover {
  background-color: var(--sidebar-clr-hover);
  border-radius: 10px;
}

.notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-top: 3px;
  cursor: pointer;
}

.notifications:hover {
  background-color: var(--sidebar-clr-hover);
  border-radius: 50%;
}

.notifications-text {
  top: 65px;
  right: 60px;
  padding: 5px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  background-color: var(--scrollbar-clr-hover);
  opacity: 0.9;
  user-select: none;
  position: absolute;
  color: white;
  visibility: hidden;
}

.notifications-menu {
  background-color: var(--border-clr);
  position: absolute;
  width: 480px;
  top: 50px;
  right: 80px;
  border-radius: 10px;
  color: white;
  visibility: hidden;
}

.top {
  height: 49px;
  border-bottom: 1px solid var(--sidebar-clr-hover);
}

.top>span {
  line-height: 49px;
  padding-left: 10px;
}

.top>img {
  margin-top: 7px;
  margin-right: 5px;
  float: right;
}

.top>img:hover {
  background-color: var(--scrollbar-clr-hover);
  border-radius: 50%;
  cursor: pointer;
}

.bottom {
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
}

.bottom>img {
  margin-bottom: 30px;
}

.bottom>h2 {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 10px;
}

.bottom>p {
  text-align: center;
  font-size: 0.9rem;
  width: 270px;
}

.user {
  background-color: #4975c7;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  font-weight: 400;
  color: white;
  cursor: pointer;
}

.account-interface {
  background-color: var(--border-clr);
  position: absolute;
  width: 300px;
  height: 670px;
  top: 45px;
  right: 30px;
  border-radius: 10px;
  color: white;
  visibility: hidden;
}

.account-interface-head {
  padding: 15px;
  display: flex;
  border-bottom: 1px solid var(--sidebar-clr-hover);
}

.headline {
  display: flex;
  flex-direction: column;
}

.account-icon {
  background-color: #4975c7;
  height: 42px;
  width: 42px;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  font-size: 1.75rem;
  font-weight: 400;
}

.user-interface {
  font-weight: bold;
  padding-bottom: 10px;
}

.first-interface {
  padding: 10px 0 10px;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  list-style: none;
  line-height: 30px;
  text-decoration: none;
  border-bottom: 1px solid var(--sidebar-clr-hover);
}

.row-1 {
  padding-left: 10px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
}

.images {
  margin-right: 15px;
}

.switch {
  rotate: -90deg;
}

.row-1 span {
  padding-right: 110px;
}

.row-1:hover {
  background-color: var(--sidebar-clr-hover);
  cursor: pointer;
}

.second-interface {
  padding: 10px 0 5px;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  list-style: none;
  line-height: 30px;
  text-decoration: none;
  border-bottom: 1px solid var(--sidebar-clr-hover);
}

.row-2 {
  display: flex;
  padding-left: 10px;
  margin-bottom: 5px;
  width: 100%;
}

.row-2:hover {
  background-color: var(--sidebar-clr-hover);
  cursor: pointer;
}

.third-interface {
  padding: 10px 0 5px;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  list-style: none;
  line-height: 30px;
  text-decoration: none;
  border-bottom: 1px solid var(--sidebar-clr-hover);
}

.row-3 {
  display: flex;
  padding-left: 10px;
  margin-bottom: 5px;
  width: 100%;
}

.row-3 span {
  padding-right: 100px;
}

.row-3:hover {
  background-color: var(--sidebar-clr-hover);
  cursor: pointer;
}

.settings-interface {
  padding: 10px 0 5px;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  list-style: none;
  line-height: 30px;
  text-decoration: none;
  border-bottom: 1px solid var(--sidebar-clr-hover);
}

.help-feedback {
  padding: 10px 0 5px;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  list-style: none;
  line-height: 30px;
  text-decoration: none;
}

/* end of navbar */

@media (max-width: 45em) {
  input[type="text"] {
    display: none;
  }

  .search-bar {
    display: flex;
  }

  .btn-search {
    background: none;
    width: 40px;
    background-image: url(/icons/search/searchbar.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }

  .btn-search:hover {
    background-color: var(--sidebar-clr-hover);
    border-radius: 50%;
  }

  .search {
    left: 183px;
  }

  .voice-menu {
    padding-right: 10px;
    top: 45px;
    left: 5px;
    width: 300px;
  }

  .voice-menu-icon {
    bottom: 50px;
    left: 130px;
  }

  .microphone {
    background: none;
  }

  .search-with-voice {
    width: 140px;
    left: -50px;
  }

  .create-menu {
    right: 135px;
  }

  .notifications-menu {
    width: 400px;
  }
}